/****MEDIA QUERIES****/
/**STRUCTURE**/
@media (max-width: 576px) {
  .header-nav--logo {
    width: 10rem;
    height: 9rem;
  }
  .footer-div-mediaqueries {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-div--title {
    font-size: 4rem;
  }
  .footer-div--logos {
    width: 2.5rem;
    height: 2.5rem;
  }
  .footer-div--div {
    display: flex;
    flex-direction: column;
  }
  .footer-div--small {
    font-size: 1.5rem;
  }
}

/*INDEX*/
@media (max-width: 576px) {
  .index-main-section--title {
    font-size: ($tamanodeletra) !important;
  }
  .index-main-section--text {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .index-main-section--title {
    font-size: 6rem;
  }
}

/*MUSICSESSIONS*/
@media (max-width: 576px) {
  .music-main-div--h1 {
    font-size: 4rem !important;
  }
  .music-main-cards {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .music-main-div--h1 {
    font-size: 6rem;
  }
  .music-main-cards {
    width: 100%;
  }
}

/*STUIDO*/
@media (max-width: 576px) {
  .studio-main-div--title {
    font-size: 4rem !important;
  }
  .studio-main-row {
    display: flex;
    flex-direction: column;
  }
  .studio-main-firstsection--title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .studio-main-firstsection--img {
    width: 20rem;
    height: 20rem;
  }
  .studio-main-firstsection--div:hover .studio-main-firstsection--img {
    transform: scale(4, 4);
    transition: 2s;
  }
  .studio-text {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .studio-main-div--title {
    font-size: 6rem;
  }
  .studio-main-firstsection--div:hover .studio-main-firstsection--img {
    transform: scale(1.1, 1.1);
    transition: 2s;
  }
}

/*SHIFTS*/
@media (max-width: 576px) {
  .shifts-main-form--primary {
    font-size: 4rem !important;
  }
}

@media (max-width: 768px) {
  .shifts-main-form--primary {
    font-size: 6rem;
  }
}

/*PROYECTS*/
@media (max-width: 576px) {
  .project-main-title {
    font-size: 4rem !important;
    letter-spacing: -0.5rem !important;
  }
}
@media (max-width: 768px) {
  .project-main-title {
    font-size: 6rem;
    letter-spacing: 1rem;
  }
}
