/****MEDIA QUERIES****/
/**STRUCTURE**/
@media (max-width: 576px) {
  .footer-div-mediaqueries {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-div--title {
    font-size: 4rem;
  }
  .footer-div--logos {
    width: 2.5rem;
    height: 2.5rem;
  }
  .footer-div--div {
    display: flex;
    flex-direction: column;
  }
  .footer-div--small {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 768px) {
  .header-nav--div {
    gap: 1.5rem !important;
    padding-top: 3rem !important;
  }
}
@media (max-width: 1024px) {
  .header-nav--div {
    gap: 12rem;
  }
}
@media (min-width: 1400px) {
  .header-nav--div {
    gap: 21rem;
  }
  .header-nav--a {
    font-size: 3.5rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 2rem;
    text-align: center;
  }
  .footer-div--title {
    font-size: 7rem;
  }
  .footer-div--logos {
    width: 6rem;
    height: 6rem;
  }
  h5 {
    font-size: 3rem !important;
  }
  .footer-div--small {
    font-size: 5rem;
  }
}
@media (min-width: 2560px) {
  .header-nav--a {
    font-size: 4.3rem;
  }
}
/*INDEX*/
@media (max-width: 576px) {
  .index-main-section--title {
    font-size: 4rem !important;
  }
  .index-main-section--text {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .index-main-section--title {
    font-size: 6rem;
  }
}
@media (max-width: 1024px) {
  .index-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index-main-section--text {
    width: 100%;
  }
  .index-main-section--img {
    height: 40rem;
    width: 30rem;
  }
}
@media (min-width: 1400px) {
  .index-main-section--text {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 500;
  }
  .index-main-section--img {
    height: 100rem;
    width: 60rem;
  }
  .index-main-section--title {
    font-size: 20rem;
  }
}
/*MUSICSESSIONS*/
@media (max-width: 576px) {
  .music-main-div--h1 {
    font-size: 4rem !important;
  }
  .music-main-cards {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .music-main-div--h1 {
    font-size: 6rem;
  }
  .music-main-cards {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .music-main-div--h1 {
    font-size: 20rem;
  }
}
@media (min-width: 2560px) {
  .card-title {
    font-size: 3rem;
  }
  .music-video {
    width: 200rem !important;
  }
}
/*STUIDO*/
@media (max-width: 576px) {
  .studio-main-div--title {
    font-size: 6rem !important;
  }
  .studio-main-row {
    display: flex;
    flex-direction: column;
  }
  .studio-main-firstsection--title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .studio-main-firstsection--img {
    width: 20rem;
    height: 20rem;
  }
  .studio-main-firstsection--div:hover .studio-main-firstsection--img {
    transform: scale(4, 4);
    transition: 2s;
  }
  .studio-text {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .studio-main-div--title {
    font-size: 8rem;
  }
  .studio-main-firstsection--div:hover .studio-main-firstsection--img {
    transform: scale(1.1, 1.1);
    transition: 2s;
  }
}

@media (min-width: 1400px) {
  .studio-main-div--title {
    font-size: 20rem;
  }
  .studio-main-firstsection--title {
    font-size: 6rem;
  }
  .studio-text {
    font-size: 3.5rem;
    font-weight: 500;
  }
}

/*SHIFTS*/
@media (max-width: 576px) {
  .shifts-main-form--primary {
    font-size: 4rem !important;
  }
}

@media (max-width: 768px) {
  .shifts-main-form--primary {
    font-size: 6rem;
  }
}
@media (min-width: 1400px) {
  .shifts-main-form--primary {
    font-size: 20rem;
  }
  .shifts-main-form--title {
    font-size: 8rem;
  }
  .form-control {
    font-size: 4rem;
    height: 10rem;
    border: 0.75rem solid #ced4da;
  }
  .form-select {
    font-size: 4rem;
    height: 8rem;
    border: 0.75rem solid $color-title;
  }
  .shifts-main-form--botton {
    font-size: 6rem;
  }
  .shifts-main-form--botton-area {
    font-size: 4rem;
  }
  .shifts-main-form--area {
    font-size: 4rem;
  }
}
/*PROYECTS*/
@media (max-width: 576px) {
  .project-main-title {
    font-size: 4rem !important;
    letter-spacing: -0.4rem !important;
  }
}
@media (max-width: 768px) {
  .project-main-title {
    font-size: 6rem;
    letter-spacing: 1rem;
  }
}

@media (min-width: 1400px) {
  .project-main-title {
    font-size: 18rem;
    letter-spacing: 0;
  }
}
@media (min-width: 2560px) {
  .project-main-title {
    font-size: 20rem;
    letter-spacing: 1rem;
  }
  .project-videos {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ratio {
    width: 200rem !important;
  }
}
