/****MEDIA QUERIES****/
/**STRUCTURE**/
@media (max-width: 576px) {
  .header_div_log {
    width: 10rem;
    height: 9rem;
  }
  .footer_div_title {
    font-size: 4rem;
  }
  .footer_div_logos {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/*INDEX*/
@media (max-width: 576px) {
  .main_section_index_title_h1 {
    font-size: ($tamañodeletra + 4) !important;
  }
  @if $tamañodeletra==4rem {
    .main_section_index_title_h1 {
      border: solid 0.5rem red;
    }
  }
  .main_section_p {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .main_section_index_title_h1 {
    font-size: 6rem;
  }
}

/*MUSICSESSIONS*/
@media (max-width: 576px) {
  .main_div_h1 {
    font-size: 4rem;
  }
  .main_ms_card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main_ms_card {
    width: 100%;
  }
}

/*STUIDO*/
@media (max-width: 576px) {
  .main_div_st_title {
    font-size: 6rem;
  }
  .main_section1_title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .main_section1_div:hover .main_section1_img {
    transform: scale(2, 2);
    transition: 2s;
  }
  .main_section_st_p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .main_section1_div:hover .main_section1_img {
    transform: scale(1.1, 1.1);
    transition: 2s;
  }
}

/*SHIFTS*/
@media (max-width: 576px) {
  .main_form_primary {
    font-size: 6rem;
  }
}

/*PROYECTS*/
@media (max-width: 576px) {
  .main_proyect_title {
    font-size: 4rem !important;
    letter-spacing: -0.5rem !important;
  }
}
@media (max-width: 768px) {
  .main_proyect_title {
    font-size: 6rem;
    letter-spacing: 1rem;
  }
}
