/***Variables****/
//index
$color-index-title: #7d41e6;
$color-index-title2: #fe05e1;
//music
$color-music-title: #3f7fbf;
$color-cards: #fff;
$color-cards-border: rgba(0, 0, 0, 0.125);
//studio
$color-title: #08aeea;
$color-botton: #784ba0;
$color-border: #ff3cac;
$color_title_turnos: #4e3edd;
$tamanodeletra: 6rem;
