/*****Home******/
.main_section {
  &_index_title {
    &_h1 {
      position: relative;
      color: #7d41e6;
      font-size: 12rem;
      letter-spacing: 0.5rem;
      font-weight: 700;
    }
  }

  &_index_title_h1::before {
    content: "INFORMACIÓN";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      #fe05e1 4px,
      #fe05e1 8px
    );
    -webkit-background-clip: text;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 2s;
  }

  &_index_title_h1::after {
    content: "INFORMACIÓN";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      #fe05e1 4px,
      #fe05e1 8px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 2s;
  }

  &_index_title_h1:hover:before {
    top: 0.8rem;
    left: 0.8rem;
  }

  &_index_title_h1:hover:after {
    top: -0.8rem;
    left: -0.8rem;
  }

  &_p {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 300;
  }
}
