/*****Home******/
.index-main-section {
  &--title {
    position: relative;
    color: $color-index-title;
    font-size: 12rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
  }

  &--title::before {
    content: "INFORMACIÓN";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      $color-index-title2 4px,
      $color-index-title2 8px
    );
    -webkit-background-clip: text;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 2s;
  }

  &--title::after {
    content: "INFORMACIÓN";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      $color-index-title2 4px,
      $color-index-title2 8px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 2s;
  }

  &--title:hover:before {
    top: 0.8rem;
    left: 0.8rem;
  }

  &--title:hover:after {
    top: -0.8rem;
    left: -0.8rem;
  }

  &--text {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 300;
  }
}
