/****FOOTER****/
.footer-div {
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
  margin-top: 2rem;
  background: #262626;

  &--logos {
    width: 4rem;
    height: 4rem;
  }
  &--title {
    color: #fcfcfce5 !important;
    font-size: 5rem;
  }
  &--small {
    text-align: center;
    font-size: 2rem;
    color: #ffffff !important;
  }
}
