/****FOOTER****/
.footer-div {
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
  margin-top: 2rem;
  background: #262626;

  &--div {
    width: 100%;
  }
  &--logos {
    width: 4rem;
    height: 4rem;
  }
  &--title {
    color: #fcfcfce5 !important;
    font-size: 5rem;
  }
  &--small {
    text-align: center;
    font-size: 3rem;
    color: #ffffff !important;
  }
}
.footer-h5 {
  color: $color_title_turnos;
}
h5 {
  font-size: 2rem !important;
}
