/****FOOTER****/
.footer_div {
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
  margin-top: 2rem;
  background: #262626;

  &_logos {
    width: 4rem;
    height: 4rem;
  }
  &_title {
    color: #fcfcfce5 !important;
    font-size: 5rem;
  }
  &_small {
    text-align: center;
    font-size: 2rem
      /*
      10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
    ) !important;*/;
    color: #ffffff !important;
  }
}
